.todo-wrapper {
  display: flex;
  align-items: center;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffc151;
  margin-top: 20px;
  width: 250px;
  padding: 10px;
  font-family: inherit;
  font-weight: bold;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 300ms all ease;
  cursor: pointer;
  color: #3b444b;
}

.todo:hover {
  transform: scale(1.1);
  background: #fff;
  border: 2px solid #ffc151;
}

.trash-icon {
  font-size: 25px;
  color: #ffc151;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: 300ms all ease;
}

.trash-icon:hover {
  transform: scale(1.2);
  color: hsl(0, 94%, 66%);
}

.done {
  text-decoration: line-through;
  background: green;
}
